.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 98px;
  padding-bottom: 98px;

  &_header {
    padding: 0;
  }

  &_hero {
    padding: 0;
  }

  &_choose {
    background-color: $color-decoration;
    display: block;
    margin: 0 auto;
    width: 1336px;
  }

  &_footer {
    background-color: rgb(51, 51, 51);
    padding-top: 40px;
    padding-bottom: 40px;
    display: block;
    margin: 0 auto;
    width: 1336px;
  }
}
