/* color */
$color-main: #212121;
$color-logo: #000000;
$color-decoration: #cbf4f0;

/* font-family */
$font-roboto: "Roboto", sans-serif;
$font-raleway: "Raleway", sans-serif;
$font-montserrat: "Montserrat", sans-serif;

/* transition */
$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
