.choose {
  &__list {
    display: flex;
    align-items: center;
    gap: 185px;
  }

  &__title {
    margin-bottom: 36px;
    font-size: 18px;
  }

  &__figure {
    text-align: center;
  }

  &__picture {    
    display: block;
    margin: 0 auto;
    width: 148px;
    height: 148px;
  }

  &__content {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
  }

  &__button {
    height: 40px;
    width: 130px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #ffbf68;
    transition: all $animation;
    &:hover {
      background-color: rgb(253, 127, 32);
      color: #ffffff;
    }
  }
}